@basefont: "源暎ゴシックM Heavy";
@subfont: "游ゴシック";
@page{
  size: A4;
  margin: 0;
}

@media print{
  body{
    width: 206mm;
  	margin: 1.7mm 6.7mm;
  }
}

/*
  ヘッダ
*/
header{
  width: ~"calc(100% - 44px)";
  .clearfix();
  > section{
  }
  > section#title{
    float: left;
    min-width: 1em;
    /* タイトル TODO: あとで画像に変更*/
    > h1{
      margin: 0;
      display: inline;
      > .title{
        font-size: 14pt;
        color: black;
      }
    }
    /* サブタイ */
    > h2{
      font-size: 100%;
      font-weight: normal;
      display: none;
    }
    /* 年月 */
    h3{
      margin: 0;
      font-size: 80%;
      display: inline;
      > span{
        font-weight: bold;
        font-size: 130%;
      }
      > .year{
        color: darkred;
      }
      > .month{
        color: darksalmon;
      }      
    }
  }
  > aside {
    border: double 4px black;
    padding: 4px;
    margin: 0 8px;
    font-size: 10pt;
    display: inline-block;
    > ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      > li{
        display: inline;
      }
    }
  }
}

/*
  メイン部分
*/

section#main{
  font-size: 80%;
  > ul.outer
  {
    display: block;
    border: 0;
    width: ~"calc(100% - 24px)";
    padding: 0;
    margin: 2px 0;
    column-count: 2;
    > li.row
    {
      display: table;
      padding: 2px 4px;
      break-inside: avoid;
      width: 100%;
      margin: 0;
      .weekdays();
      &:nth-child(2n) {
        background-color: #eee;
        -webkit-print-color-adjust: exact;
      }
      > .cell{
        display: table-cell;
        border: 1px solid black;
        margin: 0px;
        &.day, &.week{
          border: 0;
          padding: 2px;
          width: 2.5ex;
          font-weight: bold;
          text-align: center;
          vertical-align: middle;
        }
        &.eventlist{
          list-style-type: none;
          border: 2px solid black;
          padding: 0;
          > li{
            display: table;
            color: black;
            border: 0 solid black;
            border-bottom-width: 1px;
            width: 100%;
            text-indent: 4px;
            > span {
              display: table-cell;
              &.info
              {
                > span {
                  display: inline;
                  &.name{
                    font-weight: bold;
                    font-size: 9pt;
                    font-family: @basefont;
                  }
                  &.detail{
                    font-size: 7.5pt;
                    margin: 0 0.5ex;
                    font-family: @subfont;
                  }
                }
              }
              &.time 
              {
                width: ~"calc(12ex + 12px)";
                vertical-align: middle;
                border: 0 solid black;
                border-left-width: 1px;
                text-align: center;
                padding: 0 4px;
              }
            }
            &:last-child{
              border-bottom-width: 0;
            }
            .projectfont();
          }
        }
      }
    }
  }
}

/*
  フッター
*/
#notice{
  border: 0 dashed gray;
  border-width: 3px 0;
  margin: 6px 0;
  text-align: center;
  font-size: 140%;
  font-weight: bold;
}
footer
{
  display:  none;
  .mainwindow();
  address
  {
    padding: 4px;
    font-style: normal;
    break-inside: avoid;
    > span{
      display: block;
      clear: both;
      &.phone, &.fax {
        float: left;
        clear: none;
        min-width: 16ex;
        margin-right: 12px;
      }
      &.address, &.url, &.opentime{
        display: none;
      }
    }
  }
}

#print_main{
}

.clearfix(){
  *zoom: 1;
  &:before,
  &:after {
      content: " ";
      display: table;
  }

  &:after {
      clear: both;
  }
}

.clearfix{
  .clearfix();
}

/*
  マクロ
*/

.mainwindow()
{
  border: 3px solid black;
  padding: 12px;
  border-radius: 12px;
}
.weekdays()
{
  &.sunday
  {
    color: red;
  }
  &.monday
  {
  }
  &.tuesday
  {
  }
  &.wednesday
  {
  }
  &.thursday
  {
    color: darkkhaki;
    > ul > li{
      font-size: 100% !important;
    }
  }
  &.friday
  {
  }
  &.saturday
  {
    color: blue;
  }
}

.projectfont()
{
  -webkit-print-color-adjust: exact;
  &.closed
  {
    background-color: white;
  }
  &.cproject
  {
    background-color: #fff0ff;
  }
  &.workout
  {
    background-color: #eafbff;
  }
  &.hobby
  {
    background-color: #ffedd2;
  }
  &.dance
  {
    background-color: #ebffea;
  }
  &.sing
  {
    background-color: #f5effe;
  }
  &.study
  {
    background-color: #ffffe1;
  }
}