/*
  ヘッダ
*/
header {
  color: black;
}
header > section,
header > aside {
  border: 3px solid black;
  padding: 12px;
  border-radius: 12px;
  min-height: 120px;
}
header > section#title {
  width: calc(70% - 96px);
  float: left;
}
header > section#title > h1 {
  font-size: 200%;
  margin: 0;
}
header > section#title > h1 > .title {
  font-size: 150%;
  color: white;
  text-shadow: 0px 1px 0 black, -6px -6px 0 black, 1px -1px 0 black, 1px 1px 0 black, -1px 0px 0 black;
}
header > section#title > h2 {
  font-size: 100%;
  font-weight: normal;
}
header > aside {
  width: 30%;
  float: left;
  padding: 24px;
  margin-left: 12px;
  font-size: 120%;
  min-height: 100px;
}
header > aside > span {
  font-weight: bold;
  font-size: 130%;
}
header > aside > .year {
  color: darkred;
}
header > aside > .month {
  color: darksalmon;
}
/*
  メイン部分
*/
section#main {
  width: 100%;
  clear: both;
  padding: 24px 12px;
}
section#main > ul.outer {
  display: table;
  width: calc(100% - 24px);
  padding: 0;
  border: 2px solid black;
}
section#main > ul.outer > li.row {
  display: table-row;
  padding: 4px;
}
section#main > ul.outer > li.row.sunday {
  color: red;
}
section#main > ul.outer > li.row.thursday {
  background-color: aliceblue;
}
section#main > ul.outer > li.row.thursday > ul > li {
  font-size: 100% !important;
}
section#main > ul.outer > li.row.saturday {
  color: blue;
}
section#main > ul.outer > li.row > .cell {
  display: table-cell;
  border: 1px solid black;
  margin: 0px;
  padding: 0px;
}
section#main > ul.outer > li.row > .cell.day,
section#main > ul.outer > li.row > .cell.week {
  width: 2.5ex;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}
section#main > ul.outer > li.row > .cell.eventlist {
  list-style-type: none;
}
section#main > ul.outer > li.row > .cell.eventlist > li {
  display: table;
  color: black;
  border: 0 solid black;
  border-bottom-width: 1px;
  width: 100%;
}
section#main > ul.outer > li.row > .cell.eventlist > li > span {
  display: table-cell;
}
section#main > ul.outer > li.row > .cell.eventlist > li > span.info > span {
  display: block;
}
section#main > ul.outer > li.row > .cell.eventlist > li > span.info > span.name {
  font-weight: bold;
}
section#main > ul.outer > li.row > .cell.eventlist > li > span.info > span.detail {
  text-indent: 0.5ex;
  margin: 0 0.5ex;
}
section#main > ul.outer > li.row > .cell.eventlist > li > span.time {
  width: calc(12ex + 12px);
  vertical-align: middle;
  border: 0 solid black;
  border-left-width: 1px;
  padding: 0 12px;
}
section#main > ul.outer > li.row > .cell.eventlist > li:last-child {
  border-bottom-width: 0;
}
section#main > ul.outer > li.row > .cell.eventlist > li.closed {
  background-color: white;
}
section#main > ul.outer > li.row > .cell.eventlist > li.cproject {
  background-color: lightcyan;
}
section#main > ul.outer > li.row > .cell.eventlist > li.workshop {
  background-color: salmon;
}
section#main > ul.outer > li.row > .cell.eventlist > li.it {
  background-color: lightskyblue;
}
/*
  フッター
*/
footer {
  border: 3px solid black;
  padding: 12px;
  border-radius: 12px;
}
footer address {
  padding: 4px;
  font-style: normal;
}
footer address > span {
  display: block;
  clear: both;
}
footer address > span.phone,
footer address > span.fax {
  float: left;
  clear: none;
  min-width: 16ex;
  margin-right: 12px;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
/*
  マクロ
*/
